* {
    box-sizing: border-box; /* Что-бы дочерние блоки не выходили от родителя */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 700px;
    margin: 0px;
    padding: 0px;
}

/* Root */
#root {
    width: 100%;
    height: 60px;
    padding: 0px;
    margin: 0px;
    display: flex;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0; /* расстояние от верхнего края окна */
    background-color: white;
}

/* flex */
.flex {
    display: flex;
    align-items: center;
}

.flex-gap {
    display: flex;
    align-items: center;
    gap: 30px;
}

.svg {
    margin-left: 20px;
}

.svg  {
    height: 40px;
}

.bold {
    font-weight: bold;
}

.margin-left {
    margin-left: 300px;
}

.button-size {
    height: 40px;
    width: 90px;
}

.button-style {
    background-color: rgb(51, 51, 241);
    color: white;
    border-radius: 10px;
    border-style: none;

}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

#root > div:first-child {
  /* стили для первого дочернего div */
    width: 100%;
}

.tablo {
    width: 100%;
    height: 600px;
    background-color: rgba(51, 176, 214, 0.164);
    display: flex;
    justify-content: center;
    align-items:normal;
}

.tablo div{
    width: 400px;
    height: 400px;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.tablo div h2:first-child {
    padding-top: 80px;
}

.tablo div h2, p {
    margin: 0px;
    padding: 3px;
}

.tablo div h2:last-of-type {
  color: blue;
}

.tablo div p {
    color: rgb(107, 106, 106);
}

.buttons-tablo {
    width: 100% !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    gap: 17px;
}

.buttons-tablo div {
    width: 40%;
    height: 40px;
    border: 1px solid red;
}

#buton-color-blue {
    background-color: blue;
}

#buton-color-blue {
    display: flex;
    align-items: center;
    justify-content: center;
}

#buton-color-blue p {
    color: white;
}

