html, body {
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    min-height: 100vh; /* Минимум на весь экран */
}

header {
    height: 669px;
}

main {
  height: 2000px; /* Явно задаём высоту больше экрана */
  background: linear-gradient(#e66465, #9198e5); /* Для наглядности */
}

                                                                    /* Header */
#panel {
    height: inherit;
}

#img {
    height: 100px;
    width: 110px;
    border: 2px solid rgba(102, 38, 8, 0.89);
    margin-left: 40px;
    display: flex;
    justify-content: center; /* По горизонтали */
    align-items: center;     /* По вертикали */
    border-radius: 45px;
}

#img:hover, img {
    background-color: #66687c1a;
}

#img:hover{
    border: 2px solid rgba(223, 210, 210, 0.89);
}

#img img {
    width: 85px;
    height: 85px;
    border-radius: 50px;
    }

#panel a {
    padding: 0;
    margin: 0;
}

#panel {

    display: flex;
}

#panel h2 {
    padding-top: 15px;
    color: #631414;
    font-size: 20px;
    /* padding-left: 20px; */
}